name: actionlint
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          cache: false
          go-version-file: 'go.mod'
          check-latest: true

      - name: Install actionlint
        id: install_actionlint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@03d0035246f3e81f36aed592ffb4bebf33a03106 # v1.7.7
        shell: bash

      - name: Check workflow files
        run: actionlint -color -ignore 'label "windows-11-arm" is unknown. .+'
        shell: bash
