name: build

on: [push, pull_request]

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go: ['1.18']
    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - uses: actions/checkout@v2

    - run: go test

    - run: go build

# based on: github.com/koron-go/_skeleton/.github/workflows/go.yml