name: release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        go: ['1.16']
    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - uses: actions/checkout@v2

    - run: make dist


    - name: Set version
      id: version
      run: |
        VERSION=$(echo ${{ github.ref }} | sed -e "s#refs/tags/##g")
        echo ::set-output name=version::$VERSION
        
    - name: Create release
      id: create_release
      uses: actions/create-release@v1.1.4
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.version.outputs.version }}
        release_name: fmcadmin ${{ steps.version.outputs.version }} Released
        draft: true
        prerelease: false

    - name: Upload Release Asset for Linux
      id: upload-release-asset-for-linux
      uses: actions/upload-release-asset@v1.0.2
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/fmcsadmin-1.3.0-dev-linux.tar.gz
        asset_name: fmcsadmin-${{ steps.version.outputs.version }}-linux.tar.gz
        asset_content_type: application/gzip

    - name: Upload Release Asset for Windows (x64)
      id: upload-release-asset-for-windows-x64
      uses: actions/upload-release-asset@v1.0.2
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/fmcsadmin-1.3.0-dev-windows-x64.zip
        asset_name: fmcsadmin-${{ steps.version.outputs.version }}-windows-x64.zip
        asset_content_type: application/zip

    - name: Upload Release Asset for Windows (x32)
      id: upload-release-asset-for-windows-x32
      uses: actions/upload-release-asset@v1.0.2
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist/fmcsadmin-1.3.0-dev-windows-x32.zip
        asset_name: fmcsadmin-${{ steps.version.outputs.version }}-windows-x32.zip
        asset_content_type: application/zip